/* ## Colors

### Primary

- Pink: hsl(322, 100%, 66%)
- Light Pink: hsl(321, 100%, 78%)
- Light Red: hsl(0, 100%, 63%)

### Neutral

- Very Dark Cyan: hsl(192, 100%, 9%)
- Very Pale Blue: hsl(207, 100%, 98%)

## Typography

### Headings

- Family: [Poppins](https://fonts.google.com/specimen/Poppins)
- Weights: 700

### Body

- Family: [Open Sans](https://fonts.google.com/specimen/Open+Sans)
- Weights: 400, 600, 700
 */
/* @import url [Poppins] (https://fonts.google.com/specimen/Poppins);
@import url [Open Sans] (https://fonts.google.com/specimen/Open+Sans); */

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body{
    font-size: 18px;
    font-family: 'Open Sans', sans-serif;
}
ul{
    list-style-type: none;
}

header{
    padding: 40px 60px;
}

/* nav */
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 5%;
    margin-bottom: 7%;
}

nav .btn{
    background-color: #fff;
    color:hsl(321, 100%, 78%);
    border-style: solid;
    border-color: hsl(321, 100%, 78%);
    margin-top: 10vh;
    height: auto;
    flex-shrink: 1;
    width: 14%;
}  

.first img{
    width: 60%;
    /* flex-shrink: 1; */
}

.btn{
    padding: 15px 60px;
    background-color: #fff;
    border: none;
    border-radius: 30px;
}

 .build-1{
  display: flex; 
  justify-content: center;
  align-items: center;
  flex-direction: column; 
  width: 100%;
}

.mockups{
    width: 70%;
}
.mockups img{
    width: 100%;
}

h1{
 font-weight: 800;
 margin-bottom: 2rem;
 font-size: 3rem; 
 font-family: sans-serif;
 color:hsl(192, 100%, 9%);  
}

p{
    width: 50%;
    align-items: center;
    margin-bottom: 1rem;
}

.build, .btn{
    background-color:  hsl(322, 100%, 66%);
    color: #fff;
    padding: 15px 70px;
    margin-top: 1rem;
    margin-bottom: 5rem;
}

       /* counts */

.counts{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10rem;
    padding-left: 20%;
    padding-right: 20%;
}
.counts h1{
    font-size: 5rem;
}
.counts p{
    width: unset;
    color:  gray;
    font-weight: 400;
}

          /* .flex-area */
.bg-1{
    background: url('./images/bg-section-top-desktop-1.svg');
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 210px;
    margin-top: 3rem;
}
.flex-area{
    background-color: hsl(207, 100%, 98%); 
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 8vh 5%;
}
.bg-2{
    background: url('./images/bg-section-bottom-desktop-1.svg');
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 210px;
    margin-bottom: 5rem;
}
.grow img{
    width: 50%;
}
.service-1{
    padding-right: 5rem;
    padding-top: 10rem;
}
.service-1 h2{
   margin-bottom: 2rem; 
   color: hsl(192, 100%, 9%);
   font-weight: 800;
   font-size: 3rem;
   font-family: sans-serif;
}
.service-1 p{
    color: hsl(192, 100%, 9%);
    width: unset;
}

          /* flex-area-2 */
.flex-area-2{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    margin-top: 3rem;
    width: 100%;
    padding: 8vh 5%;
}

.flowing h2 {
margin-bottom: 2rem;
color: hsl(192, 100%, 9%);
font-weight: 800;
font-size: 3rem;
font-family: sans-serif;
}
.flowing p{
    color: hsl(192, 100%, 9%);
    width: unset;
}
.service-2 img{
    width: 50%;
}
            /* flex-area-3 */
.bg-3{
    background: url('./images/bg-section-top-desktop-2.svg');
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 210px;
    margin-top: 5rem;
     }
.flex-area-3{
    background: url('./images/bg-section-top-desktop-2.svg');
    background-color: hsl(207, 100%, 98%); 
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 8vh 5%;
}
.bg-4{
    background: url('./images/bg-section-bottom-desktop-2.svg');
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 210px;
    margin-bottom: 5rem;
     }
.service-3{
    padding-top: 10rem; 
    margin-right: 5%;
    width: 100%;
}
.service-3 h2{
   margin-bottom: 2rem; 
   color: hsl(192, 100%, 9%);
   font-weight: 900;
   font-size: 3rem;
   font-family: sans-serif;
}
.service-3 p{
    color: hsl(192, 100%, 9%);
    width: unset;
}
.users img{
    width: 70%;
}

             /* ready */
.ready{
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
text-align: center;
margin-top: 10rem;
}
.ready h1{
color: hsl(192, 100%, 9%);
font-weight: 800;
font-size: 3rem;
font-family: sans-serif;
}


            /* footer */
            
.background {
       background: url('./images/bg-footer-top-desktop.svg');
       width: 100%;
       height: 210px;
       background-repeat: no-repeat;
       background-size: cover;
      }
      /* .background{
        margin: 0;
        line-height: 0%;
      } */
footer{
    display: flex;
    background-color: hsl(192, 100%, 9%);
}
.sec-1{
    padding: 10%;
}
.sec-1 img{
    -webkit-filter: brightness(300%);
    align-self: center;
    margin-bottom: 1.5rem;
}
.sec-1 h1{
    -webkit-text-fill-color: #fff;
    margin-right:10px;
}
.huddle{
    display: inline-flex;
    width: 100%;
    gap: 10px;
}
.sec-1 p{
    color: #fff;
    
}
.phone{
    display: flex;
    gap: 10px;
}
.envelop{
    display: flex;
    gap:10px;
} 
.social ul{
    display: flex;
    gap: 10px;
}
.sec-2{
    padding: 10%;
}
.sec-2 h1{
    -webkit-text-fill-color: #fff;
    font-size: 1.5rem;
}
.sec-2 p{
    -webkit-text-fill-color: #fff;
}
form{
    display: flex;
    width: 100%;
}

input{
    width: 200px;
    height: 2.5rem;
    border-radius: 5px;
}
.btn-4{
border-radius: 5px;
width: 20%;
margin-left: 2rem;
background-color: hsl(322, 100%, 66%);
color: #fff;
}

/* media queries for mobile */
@media only screen and (max-width: 900px) {
    header{
        /* background: url('./images/bg-section-top-desktop-1.svg'); */
        /* background-repeat: no-repeat; */
        background-color: hsl(207, 100%, 98%);
    }
    nav{
        flex-wrap: wrap; 
        width: 100%;
        margin-top: -6rem;
    }
h1{
    font-size: 50px;
    font-weight: 900;
}
p{
    font-size: 25px;
}
button{
    font-size: 18px;
}
.build-1{
flex-direction: column;
justify-content: center;
align-items: center;
text-align: center;
width: 95%;
}
.mockups{
    margin-top: 30px;
    width: 95%;
}

.counts{
    flex-direction: column;
    padding-right: 10px;
    padding-left: 10px;
}
.people{
    margin-bottom: 10rem;
}
.flex-area{
    width:fit-content;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.grow img{
    width: 50%;
}
.service-1{
    padding-top: 10rem;
}
.service-1 h2{
   margin-bottom: 2rem; 
   color: hsl(192, 100%, 9%);
   font-weight: 800;
   font-size: 3rem;
   font-family: sans-serif;
}
.service-1 p{
    color: hsl(192, 100%, 9%);
    width: unset;
}

.flex-area-2{
    width: fit-content;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.flowing h2 {
    margin-bottom: 2rem;
    color: hsl(192, 100%, 9%);
    font-weight: 800;
    font-size: 3rem;
    font-family: sans-serif;
    }
    .flowing p{
        color: hsl(192, 100%, 9%);
        width: unset;
    }
    .service-2 img{
        width: 50%;
    }

.flex-area-3{
    width: fit-content;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.service-3{
    padding-top: 10rem; 
    width: 100%;
}
.service-3 h2{
   margin-bottom: 2rem; 
   color: hsl(192, 100%, 9%);
   font-weight: 900;
   font-size: 3rem;
   font-family: sans-serif;
}
.service-3 p{
    color: hsl(192, 100%, 9%);
    width: unset;
}

.users img{
    width: 50%;
}
.ready{
    width: 75%;
    margin-left: 6rem;
    text-align: center;
}
footer{
    flex-direction: column-reverse;
}
.sec-2{
    width: auto;
}
.sec-2 h1{
    font-size: 50px;
    font-weight: lighter;
}
.search{
    flex-direction: column;
    width: 100%;
}
.search input{
    width: 100%;
    height: 8vh;
}
.btn-4{
    width: 50%;
    height: 8vh;
    margin-left: 50%;
    margin-top: 2rem;
}
}
@media only screen and (max-width: 650px) {
    header{
        /* background: url('./images/bg-section-top-desktop-1.svg'); */
        /* background-repeat: no-repeat; */
        background-color: hsl(207, 100%, 98%);
    }
    nav{
        flex-wrap: wrap; 
        width: 100%;
        margin-top: -6rem;
        /* justify-content: space-between; */
    }
h1{
    font-size: 50px;
    font-weight: 900;
}
p{
    font-size: 25px;
}
nav .btn{
    font-size: 18px;
    padding: 2vh 10%;
    margin-right: rem;
    justify-content: flex-end;
}
.build-1{
flex-direction: column;
justify-content: center;
align-items: center;
text-align: center;
width: 95%;
}
.mockups{
    margin-top: 30px;
    width: 95%;
}

.counts{
    flex-direction: column;
    padding-right: 10px;
    padding-left: 10px;
}
.people{
    margin-bottom: 10rem;
}
.flex-area{
    width:fit-content;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
}
.flex-area-2{
    width: fit-content;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-right: 5rem;
}
.flex-area-3{
    width: fit-content;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
}
.ready{
    width: 75%;
    margin-left: 6rem;
}
footer{
    flex-direction: column-reverse;
}
.sec-2{
    width: auto;
}
.sec-2 h1{
    font-size: 50px;
    font-weight: lighter;
}
.search{
    flex-direction: column;
    width: 100%;
}
.search input{
    width: 100%;
    height: 8vh;
}
.btn-4{
    width: 50%;
    height: 8vh;
    margin-left: 50%;
    margin-top: 2rem;
}
}
@media only screen and (max-width: 900px) {
    header{
        /* background: url('./images/bg-section-top-desktop-1.svg'); */
        /* background-repeat: no-repeat; */
        background-color: hsl(207, 100%, 98%);
    }
    nav{
        flex-wrap: wrap; 
        width: 100%;
        margin-top: -6rem;
    }
h1{
    font-size: 50px;
    font-weight: 900;
}
p{
    font-size: 25px;
}
button{
    font-size: 18px;
}
.build-1{
flex-direction: column;
justify-content: center;
align-items: center;
text-align: center;
width: 95%;
}
.mockups{
    margin-top: 30px;
    width: 95%;
}

.counts{
    flex-direction: column;
    padding-right: 10px;
    padding-left: 10px;
}
.people{
    margin-bottom: 10rem;
}
.flex-area{
    width:fit-content;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.grow img{
    width: 50%;
}
.service-1{
    padding-top: 10rem;
}
.service-1 h2{
   margin-bottom: 2rem; 
   color: hsl(192, 100%, 9%);
   font-weight: 800;
   font-size: 3rem;
   font-family: sans-serif;
}
.service-1 p{
    color: hsl(192, 100%, 9%);
    width: unset;
}

.flex-area-2{
    width: fit-content;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.flowing h2 {
    margin-bottom: 2rem;
    color: hsl(192, 100%, 9%);
    font-weight: 800;
    font-size: 3rem;
    font-family: sans-serif;
    }
    .flowing p{
        color: hsl(192, 100%, 9%);
        width: unset;
    }
    .service-2 img{
        width: 50%;
    }

.flex-area-3{
    width: fit-content;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.service-3{
    padding-top: 10rem; 
    width: 100%;
}
.service-3 h2{
   margin-bottom: 2rem; 
   color: hsl(192, 100%, 9%);
   font-weight: 900;
   font-size: 3rem;
   font-family: sans-serif;
}
.service-3 p{
    color: hsl(192, 100%, 9%);
    width: unset;
}

.users img{
    width: 50%;
}
.ready{
    width: 75%;
    margin-left: 6rem;
    text-align: center;
}
footer{
    flex-direction: column-reverse;
}
.sec-2{
    width: auto;
}
.sec-2 h1{
    font-size: 50px;
    font-weight: lighter;
}
.search{
    flex-direction: column;
    width: 100%;
}
.search input{
    width: 100%;
    height: 8vh;
}
.btn-4{
    width: 50%;
    height: 8vh;
    margin-left: 50%;
    margin-top: 2rem;
}
}